<phpunit
    bootstrap="Bootstrap.php"
    colors="false"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="GanttGraphPHP Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage Configuration -->
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix=".php">./</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
    </logging>

    <php>
        <env name="PROJECT_ROOT" value="./"/>
    </php>
</phpunit>