/* Gantt Chart */
.gchart {
    position: relative;
    overflow: hidden;
    background: #F6F6F6;
    border-radius: 10px;
}

.gchart * {
    font-size: 12px;
    font-weight: normal;
    font-family: Arial; margin : 0;
    padding: 0;
    margin: 0;
}

.gchart li {
    list-style: none;
}

/* Gantt Chart Sidebar */
.gchart .gchart-sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 199px;
    border-right: 1px solid #DDDDDD;
    z-index: 2;
}

.gchart .gchart-sidebar:before {
    position: absolute;
    right: -7px;
    pointer-events: none;
    width: 7px;
    top: 0;
    bottom: 0;
    content: "";
    z-index: 3;
}

.gchart .gchart-sidebar .lbls-group {
    border-top: 1px solid #DDDDDD;
}

.gchart .gchart-sidebar .lbls-group .lbls {
    width: 50%;
    float: left;
}

.gchart .gchart-sidebar .lbls-group .lbls .lbls-serie {
    border-bottom: 1px solid #E1E1E1;
}

.gchart .gchart-sidebar .lbls-group .lbls strong,
.gchart .gchart-sidebar .lbls-group .lbls-serie strong {
    display: block;
    padding: 0 20px;
    color: #484A4D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    float: left;
    line-height: {VALUE_LINE_HEIGHT}px;
}

/* data section */
.gchart-sc {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 200px;
    margin-right: 10px;
    white-space: nowrap;
}

/* Gantt Chart Section Header */
header .gchart-sc-ds,
header .gchart-sc-ms {
    overflow: hidden;
}

header .gchart-sc-m {
    float: left;
    text-align: center;
}

header .gchart-sc-m strong {
    display: block;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
    color: #484A4D;
    line-height: {VALUE_LINE_HEIGHT}px;
    height: {VALUE_HEIGHT}px;
}

.gchart-sc-ds .gchart-sc-d {
    float: left;
    height: {VALUE_HEIGHT}px;
    width: {VALUE_WIDTH}px;
}

.gchart-sc-ds .gchart-sc-d span {
    text-indent: 0;
    text-align: center;
    font-size: 11px;
    line-height: {VALUE_LINE_HEIGHT}px;
}

.gchart-sc-ds .gchart-sc-d .today span {
    color: white;
}

.gchart-sc-d span {
    display: block;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-indent: -12000px;
    font-weight: bold;
    color: #484A4D;
}

.gchart-sc-d.weekend span {
    background: #E0E0E0;
}

/* Gantt Chart Section Items */
.gchart-sc-item {
    position: relative;
}

.gchart-sc-item .gchart-sc-ds .gchart-sc-d {
    border-top: 1px solid #DDDDDD;
}

/* Gantt Chart Block */
.gchart-sc-blk {
    background: #268bd2;
    position: absolute;
    top: 0;
    z-index: 2;
    margin: 3px;
    border-radius: 3px;
    opacity: .8;
}

.gchart-sc-blk-lbl {
    display: block;
    cursor: pointer;
    color: white;
    padding: 0px 1px;
    font-size: 10px;
    text-align: center;
    line-height: {VALUE_BLOCK_LINE_HEIGHT}px;
}

.gchart-sc-blk.conflict {
    background: {COLOR_CONFLICT};
}

/* Gantt Chart Time */
.gchart .time {
    border: 2px solid #1DA7A9;
    bottom: 0;
    position: absolute;
    text-indent: -12000px;
    top: 0;
    width: {WIDTH_MARK_TIME}px;
    background: #FFFFFF;
    opacity: 0.7;
    z-index: 1;
}
.gchart .time:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1DA7A9;
    content: "";
    left: 5px;
    position: absolute;
    top: 0;
}

/* Legend */
.gchart.gchart-legend {
    padding: 10px 10px 0px 10px;
}

.gchart-lg-items,
.gchart-lg-item {
    position: relative;
    float: left;
}

.gchart-lg-item.color {
    background: #E0E0E0;
    border: 1px solid #DDDDDD;
    height: {VALUE_HEIGHT}px;
    width: {VALUE_WIDTH}px;
}

.gchart-lg-item.description {
    padding: 0px 10px;
    margin: 0px 10px 10px 0px;
    border: 1px solid #DDDDDD;
    height: {VALUE_HEIGHT}px;
}

.gchart-lg-items .gchart-lg-item {
    float: left;
}

.gchart-lg-items .gchart-lg-item span {
    text-indent: 0;
    text-align: center;
    font-size: 11px;
    line-height: {VALUE_LINE_HEIGHT}px;
}

.gchart-lg-item span {
    display: block;
    text-indent: -12000px;
    font-weight: bold;
    color: #484A4D;
}
